{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{%static 'student/style.css'%}">
</head>
<body>
    {%block body%}
    
        <div class="title">
            <h1>Students Information System</h1>
        </div>
        <div class="container">
            <div class="main">
                <a href="{% url 'add'%}">Add new student</a>
                <input type="search" name="q" class="search" placeholder="Type Full Name">
            </div>
        </div>
        <div class="table">
            <table>
               
                <thead>
                    <tr class="head">
                       
                        <th>Student ID</th>
                        <th>Full Name</th>
                        <th>Class</th>
                        <th>Detail</th>
                        <th>Delete</th>
                        <th>Edit</th>
                        
                    </tr>
                </thead>
              
                <tbody>
                    {% for i in all %}
                    <tr>
                      
                        <td>{{i.sdtid}}</td>
                        <td>{{i.sdtname}}</td>
                        <td>{{i.sdtclass}}</td>
                        <td><a href="{% url 'detail' i.id%}">Detail</a></td>
                        <td><form action="{% url 'delete' i.id%}" method="post">
                            {% csrf_token%}
                            <input type="submit" value="Delete" class="btn">
                        </form></td>




                        <td><a href="{% url 'edit' i.id%}">Edit</a></td>
                       
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>  
  
  
    
    
     
    {%endblock%}    
</body>
</html>